// Colors
:root {
  --main-bg: white;
  --main-color: black;
}
html[dark="true"] {
  --main-bg: black;
  --main-color: white;
}
// Others
html[dark="true"] {
  body {
    > {
      main.landing {
        background-image: url("../images/landing-dark.jpg");
        transition: background-image $duration;
      }
    }
  }
}
